@import "compass/css3";
@import "compass_twitter_bootstrap";



header {
  .brand {
    float: left;
  }

  #doc-nav {
    float: left;

    li {
      float: left;
    }
  }

  #user-nav {
    float: right;
  }
}


.documentList {

  .docSearch {
    @extend .clearfix;
    @extend .form-search;

    div {
      @extend .input-prepend;
      margin-left: 20px;

      button {
        @extend .btn;
      }
      input {
      }
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      display: block;
      margin: 0;
      padding: 7px 20px;

      .title {
        display: inline-block;
        width: 200px;
      }

      .description {
        display: inline-block;
      }

      &:nth-child(even) {
        background-color: #eee;
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}


.documentForm {
  @extend .clearfix;

  .settings {
    float: right;
  }

  .editors {
    float: left;
  }

  .editorWrap {
    position: relative;

    .label {
      position: absolute;
      top: 8px;
      right: 20px;
    }
  }


  .ace_editor {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .ace_editor_wrapper {
    position: relative;
    height: 200px;
    width: 600px;
  }
}



#chatWrap {
  .nameWrap {
    @extend .clearfix;

    label {
      float: left;
      padding-top: 5px;
      width: 100px;
    }
    input {
      float: left;
    }
  }

  .message {
    em {
      display: inline-block;
      width: 90px;
      padding-right: 10px;
      text-align: right;
    }
  }

  .messagesWrap {
    @extend .span8;
    height: 280px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    @include border-radius(5px);
  }

  .addMessage {
    @extend .span7;
    @extend .offset1;
    margin-top: 10px;

    #message {
      @extend .span6;
    }
    #send {
    }
  }
}
