@import "compass/css3";
@import "compass_twitter_bootstrap";
@import "font-awesome";
@import "../bower_components/angular-ui/build/angular-ui.css";
@import "susy";

$container: 100%;
$columns: 6;
$gutters: 1/8;
$gutter-placement: inside;


@include set-grid($container $columns $gutters $gutter-placement);


/*
.wrap {
  @include span(6);
  overflow: hidden;
}
*/

.documentEditor {
  @include span(6 of 6);
  overflow: hidden;
}

.documentWrap {
  //@include span(11);
  //@include span(6 of 6);
  @include transition-property(margin);
  @include transition-duration(1s);

  //margin-left: -(100% * 5/6);
  .showSettings & {
    margin-left: 0;
  }
}

.settings {
  display: none !important;
  @include span(5 of 11);
}

.editors {
  //@include span(6 of 11);
  //@include span(6 of 6);
}



.ace_editor_wrapper {
  //@include span(6);
}

#preview {
  @include span(6 of 6);
}


legend {
  text-align: center;
}



i.icon {
  @extend [class^="icon-"];
}


header {
  height: 42px;
  margin-bottom: 3px;

  .icon {
    margin-right: 4px;
  }

  #doc-nav {
    float: left;

    li {
      float: left;
    }

    .documents > a > .icon {
      @extend .icon-file-text;
    }

    .documentList .icon {
      @extend .icon-list;
    }
    .newDocument .icon {
      @extend .icon-file-alt;
    }
    .chat .icon {
      @extend .icon-comment;
    }
  }

  #user-nav {
    float: right;

    .userName {
      display: inline-block;
      max-width: 110px;
      max-height: 20px;
      overflow: hidden;
    }

    & > li > a {
      padding-left: 5px;
      padding-right: 5px;
    }

    .login > a > i.icon {
      @extend .icon-signin;
    }

    .logout i.icon {
      @extend .icon-signout;
    }

    .user > a > i.icon {
      @extend .icon-user;
    }

    .twitter i.icon {
      @extend .icon-twitter;
    }

    .github i.icon {
      @extend .icon-github;
    }

    .facebook i.icon {
      @extend .icon-facebook;
    }

    &.login-nav {
      margin-right: 60px;
    }
  }
}


.documentList {

  .docSearch {
    @include clearfix();
    @extend .form-search;

    div {
      @extend .input-prepend;
      margin-left: 20px;

      button {
        @extend .btn;
      }
      input {
      }
    }
  }

  ul {
    margin-left: 0;

    li {
      display: block;
      margin: 0;
      padding: 7px 20px;

      .title {
        display: inline-block;
        width: 200px;
      }

      .description {
        display: inline-block;
      }

      &:nth-child(even) {
        background-color: #eee;
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}


.documentEditor {

  .documentWrap {
    @include clearfix();
  }

  .settings {
    position: relative;
    overflow: visible;

    .settingsLink {
      position: absolute;
      right: 0;
      top: 0;

      a {
        font-size: 1.5em;

        &:hover {
          text-decoration: none;
        }

        .icon {
          font-size: 1.5em;
          @extend .icon-cogs;
        }
      }
    }
  }


  .privatePermissions {

    .addUser {
      @extend .btn;
      @extend .btn-mini;
      &:hover {
        @extend .btn-success;
      }
    }
    .removeUser {
      @extend .btn;
      @extend .btn-mini;
      &:hover {
        @extend .btn-danger;
      }
    }

    .permissions-user {
      @include clearfix();

      & > input {
        float: left;
      }
      & > label {
        float: left;
      }
    }

  }


  .externalResourcesWrap {
    .resource {
      @extend .input-append;
      .removeResource {
        @extend .btn;
        &:hover {
          @extend .btn-danger;
        }
      }
    }

    .addResource {
      @extend .btn;
      @extend .btn-mini;
      &:hover {
        @extend .btn-success;
      }
    }
  }


  .editors {
    //float: left;
    form#editorsForm {
      margin: 0;
    }

    legend {
      display: none;
    }
  }


  .previewWrap {
    @include clearfix();
    position: relative;

    #preview {
      height: 200px;
      padding: 0;
      border: 1px solid #ccc;
    }

    .editorControls {
      .preview {
        @extend .btn;
        @extend .btn-success;

        position: absolute;
        top: 4px;
        right: 20px;
      }
    }
  }

  .ace_editor {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .ace_editor_wrapper {
    position: relative;
    height: 200px;
  }


}



#chatWrap {
  position: relative;

  .chatLink {
    position: absolute;
    left: -24px;
    top: 0;

    a {
      font-size: 1.5em;

      &:hover {
        text-decoration: none;
      }

      .icon {
        @extend .icon-comment;
        font-size: 1.5em;
      }
    }
  }

  .nameWrap {
    @include clearfix();

    label {
      float: left;
      padding-top: 5px;
      width: 100px;
    }
    input {
      float: left;
    }
  }

  .message {
    em {
      display: inline-block;
      width: 90px;
      padding-right: 10px;
      text-align: right;
    }
  }

  .messagesWrap {
    height: 280px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    @include border-radius(5px);
  }

  .addMessage {
    @include span(5);

    margin-top: 10px;

    #message {
    }
    #send {
    }
  }
}
