#chatWrap(ng-controller="ChatCtrl")
  .chatLink
    a(href="#", ng-click="toggleChat()")
      i.icon
      |  Chat
  form.addMessage(ng-submit="addMessage()")
    fieldset
      legend Document Chat
      .nameWrap
        label(for="name") Your name:
        input#name.input-medium(name="name", type="text", ng-model="username")
      .messagesWrap(auto-scroll="messages")
        .message(ng-cloak, ng-repeat="message in messages")
          em {{message.from}}:
          | {{message.content}}
      .input-append
        input#message.input-large(type="text", ng-model="message", placeholder="Message...")
        input#send.btn(type="submit", value="Send")
