form.documentForm
  .inputWrap
    label(for="title") Title:
    input#title(name="title", ng-model="doc.title")
  .inputWrap
    label(for="description") Description:
    textarea#description(name="description", ng-model="doc.description")
  .editorWrap
    label(for="htmlEditor") HTML:
    textarea#htmlEditor(name="htmlEditor", ng-model="doc.htmlCode")
  .editorWrap
    label(for="cssEditor") CSS:
    textarea#cssEditor(name="cssEditor", ng-model="doc.cssCode")
  .editorWrap
    label(for="jsEditor") JS:
    textarea#jsEditor(name="jsEditor", ng-model="doc.jsCode")

.editorControls
  button(ng-click='preview()') Preview
  button(ng-click='save()') Save

.previewWrap
  p Preview:
  //-iframe(src="/preview/{{doc.id}}")
  iframe#preview
