.navbar
  .navbar-inner
    .container
      a.brand(href="/") codedHere.com
      ul.nav
        li.documentList
          a(href="/documentList") Document List
        li.newDocument
          a(href="/document/new") New Document
        li.chat
          a(href="/chat") Chat
