.navbar
  .navbar-inner
    .container
      ul#settings-nav.nav
        li.settingsLink
          a(href="#", ng-click="toggleView()")
            i.icon
            |  Settings
      a.brand(href="/") codedHere.com
      ul#doc-nav.nav
        li.documentList
          a(href="/documentList")
            i.icon-list
            |  Document List
        li.newDocument
          a(href="/document/new")
            i.icon
            |  New Document
        li.chat
          a(href="/chat")
            i.icon
            |  Chat
      ul#user-nav.nav(ng-show="user")
        li.user.dropdown
          a.dropdown-toggle(href="#")
            |  {{user.name}}
            span.caret
          ul.dropdown-menu
            li.logout
              a(ng-click="logout()") Logout
      ul#user-nav.nav(ng-hide="user")
        li.login.dropdown
          a.dropdown-toggle(href="#")
            |  Login
          ul.dropdown-menu
            li.loginTwitter
              a(ng-click="loginFacebook()") Facebook
            li.loginGithub
              a(ng-click="loginGithub()") Github
            li.loginTwitter
              a(ng-click="loginTwitter()") Twitter

