.navbar
  .navbar-inner
    a#brand.brand(href="/") codedHere.com
    ul#doc-nav.nav
      li.documents.dropdown
        a.dropdown-toggle(href="#")
          i.icon
          span Documents
          span.caret
        ul.dropdown-menu
          li.documentList
            a(href="/documentList")
              i.icon
              span Document List
          li.newDocument
            a(href="/document/new")
              i.icon
              span New Document
    ul#user-nav.nav(ng-show="user")
      li.user.dropdown
        a.dropdown-toggle(href="#")
          i.icon
          span.userName {{user.name}}
          span.caret
        ul.dropdown-menu.pull-right
          li.logout
            a(ng-click="logout()")
              i.icon
              span Logout
    ul#user-nav.login-nav.nav(ng-hide="user")
      li.login.dropdown
        a.dropdown-toggle(href="#")
          i.icon
          span Login
          span.caret
        ul.dropdown-menu.pull-right
          li.twitter
            a(ng-click="loginFacebook()")
              i.icon
              span Facebook
          li.github
            a(ng-click="loginGithub()")
              i.icon
              span Github
          li.twitter
            a(ng-click="loginTwitter()")
              i.icon
              span Twitter
